html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

* {
    box-sizing: border-box;
}


.container-fluid {

    width: 100%;
    padding: 40px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
}


.bgcor1 {
    background: rgb(202, 85, 85);
}

.bgcor2 {
    background: rgb(161, 161, 199);
}

.bgcor3 {
    background: rgb(237, 204, 161);
}