* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: verdana, sans-serif;
    background-image: url('../img/finance-8037839_1920.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.tituloBank{
    color: white;
    font-size: 50pt;
}
.logoBank{
    width: 300px;
}
.formulario {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.formulario h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #333;
}

.formulario label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.formulario button:hover {
    background-color: #0056b3;
}


.coluna-esquerda {
    flex: 1;
    padding: 10%;
}

.coluna-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
#lgpdBanner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
#lgpdBanner button {
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}